In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint

In [2]:
demo_path = "Resources/state_demographics.csv"
demo_df = pd.read_csv(demo_path)
demo_df.head()

,State,Population.Population Percent Change,Population.2014 Population,Population.2010 Population,Age.Percent Under 5 Years,Age.Percent Under 18 Years,Age.Percent 65 and Older,Miscellaneous.Percent Female,Ethnicities.White Alone,Ethnicities.Black Alone,...,Employment.Nonemployer Establishments,Employment.Firms.Total,Employment.Firms.Men-Owned,Employment.Firms.Women-Owned,Employment.Firms.Minority-Owned,Employment.Firms.Nonminority-Owned,Employment.Firms.Veteran-Owned,Employment.Firms.Nonveteran-Owned,Population.Population per Square Mile,Miscellaneous.Land Area
0,Connecticut,-10.2,3605944,3574097,5.1,20.4,17.7,51.2,79.7,12.2,...,286874,326693,187845,106678,56113,259614,31056,281182,738.1,4842.36
1,Delaware,8.4,989948,897934,5.6,20.9,19.4,51.7,69.2,23.2,...,68623,73418,38328,23964,14440,54782,7206,60318,460.8,1948.54
2,District of Columbia,17.3,689545,601723,6.4,18.2,12.4,52.6,46.0,46.0,...,62583,63408,30237,27064,29983,29521,5070,54217,9856.5,61.05
3,Florida,14.2,21538187,18801310,5.3,19.7,20.9,51.1,77.3,16.9,...,2388050,2100187,1084885,807817,926112,1121749,185756,1846686,350.6,53624.76
4,Georgia,9.6,10711908,9687653,6.2,23.6,14.3,51.4,60.2,32.6,...,955621,929864,480578,376506,371588,538893,96787,800585,168.4,57513.49

In [3]:
list(demo_df.columns)

['State',
 'Population.Population Percent Change',
 'Population.2014 Population',
 'Population.2010 Population',
 'Age.Percent Under 5 Years',
 'Age.Percent Under 18 Years',
 'Age.Percent 65 and Older',
 'Miscellaneous.Percent Female',
 'Ethnicities.White Alone',
 'Ethnicities.Black Alone',
 'Ethnicities.American Indian and Alaska Native Alone',
 'Ethnicities.Asian Alone',
 'Ethnicities.Native Hawaiian and Other Pacific Islander Alone',
 'Ethnicities.Two or More Races',
 'Ethnicities.Hispanic or Latino',
 'Ethnicities.White Alone, not Hispanic or Latino',
 'Miscellaneous.Veterans',
 'Miscellaneous.Foreign Born',
 'Housing.Housing Units',
 'Housing.Homeownership Rate',
 'Housing.Median Value of Owner-Occupied Units',
 'Housing.Households',
 'Housing.Persons per Household',
 'Miscellaneous.Living in Same House +1 Years',
 'Miscellaneous.Language Other than English at Home',
 'Housing.Households with a computer',
 'Housing.Households with a Internet',
 'Education.High School or Higher',
 "Education.Bachelor's Degree or Higher",
 'Miscellaneous.Percent Under 66 Years With a Disability',
 'Miscellaneous.Percent Under 65 Years Witout Health insurance',
 'Sales.Accommodation and Food Services Sales',
 'Miscellaneous.Manufacturers Shipments',
 'Sales.Retail Sales',
 'Miscellaneous.Mean Travel Time to Work',
 'Income.Median Houseold Income',
 'Income.Per Capita Income',
 'Income.Persons Below Poverty Level',
 'Employment.Nonemployer Establishments',
 'Employment.Firms.Total',
 'Employment.Firms.Men-Owned',
 'Employment.Firms.Women-Owned',
 'Employment.Firms.Minority-Owned',
 'Employment.Firms.Nonminority-Owned',
 'Employment.Firms.Veteran-Owned',
 'Employment.Firms.Nonveteran-Owned',
 'Population.Population per Square Mile',
 'Miscellaneous.Land Area']

In [4]:
demo_df = demo_df.drop(columns=['Population.Population Percent Change','Population.2010 Population','Miscellaneous.Percent Female',
                               'Ethnicities.White Alone', 'Ethnicities.Black Alone', 'Ethnicities.American Indian and Alaska Native Alone',
 'Ethnicities.Asian Alone',
 'Ethnicities.Native Hawaiian and Other Pacific Islander Alone',
 'Ethnicities.Two or More Races',
 'Ethnicities.Hispanic or Latino',
 'Ethnicities.White Alone, not Hispanic or Latino',
 'Miscellaneous.Veterans',
 'Miscellaneous.Foreign Born',
 'Housing.Housing Units',
 'Housing.Homeownership Rate',
 'Housing.Median Value of Owner-Occupied Units',
 'Housing.Households',
 'Housing.Persons per Household',
 'Miscellaneous.Living in Same House +1 Years',
 'Miscellaneous.Language Other than English at Home',
 'Housing.Households with a computer',
 'Housing.Households with a Internet',
 'Education.High School or Higher',
 "Education.Bachelor's Degree or Higher",
 'Miscellaneous.Percent Under 66 Years With a Disability',
 'Miscellaneous.Percent Under 65 Years Witout Health insurance',
 'Sales.Accommodation and Food Services Sales',
 'Miscellaneous.Manufacturers Shipments',
 'Sales.Retail Sales',
 'Miscellaneous.Mean Travel Time to Work','Income.Persons Below Poverty Level',
 'Employment.Nonemployer Establishments',
 'Employment.Firms.Total',
 'Employment.Firms.Men-Owned',
 'Employment.Firms.Women-Owned',
 'Employment.Firms.Minority-Owned',
 'Employment.Firms.Nonminority-Owned',
 'Employment.Firms.Veteran-Owned',
 'Employment.Firms.Nonveteran-Owned','Miscellaneous.Land Area'])
demo_df.head()

,State,Population.2014 Population,Age.Percent Under 5 Years,Age.Percent Under 18 Years,Age.Percent 65 and Older,Income.Median Houseold Income,Income.Per Capita Income,Population.Population per Square Mile
0,Connecticut,3605944,5.1,20.4,17.7,78444,44496,738.1
1,Delaware,989948,5.6,20.9,19.4,68287,35450,460.8
2,District of Columbia,689545,6.4,18.2,12.4,86420,56147,9856.5
3,Florida,21538187,5.3,19.7,20.9,55660,31619,350.6
4,Georgia,10711908,6.2,23.6,14.3,58700,31067,168.4

In [5]:
demo_df = demo_df.rename(columns={'Population.2014 Population':'population', 
                         'Age.Percent Under 5 Years':'% age under 5', 
                         'Age.Percent Under 18 Years':'% age under 18',
                        'Age.Percent 65 and Older': '% age 65 and older',
                       'Income.Median Houseold Income': "median household income",
                        'Income.Per Capita Income': 'per capita income',
                        'Population.Population per Square Mile': 'population per square mile'})
demo_df

,State,population,% age under 5,% age under 18,% age 65 and older,median household income,per capita income,population per square mile
0,Connecticut,3605944,5.1,20.4,17.7,78444,44496,738.1
1,Delaware,989948,5.6,20.9,19.4,68287,35450,460.8
2,District of Columbia,689545,6.4,18.2,12.4,86420,56147,9856.5
3,Florida,21538187,5.3,19.7,20.9,55660,31619,350.6
4,Georgia,10711908,6.2,23.6,14.3,58700,31067,168.4
5,Hawaii,1455271,6.0,21.2,19.0,81275,35567,211.8
6,Alabama,5024279,6.0,22.2,17.3,50536,27928,94.4
7,Alaska,733391,7.0,24.6,12.5,77640,36787,1.2
8,Arizona,7151502,5.9,22.5,18.0,58945,30694,56.3
9,Arkansas,3011524,6.2,23.2,17.4,47597,26577,56.0
10,California,39538223,6.0,22.5,14.8,75235,36955,239.1
11,Colorado,5773714,5.8,21.9,14.6,72331,38226,48.5
12,Louisiana,4657757,6.5,23.4,15.9,49469,27923,104.9
13,Maine,1362359,4.7,18.5,21.2,57918,32637,43.1
14,Montana,1084225,5.7,21.4,19.3,54970,31151,6.8
15,Nebraska,1961504,6.8,24.6,16.2,61439,32302,23.8
16,Nevada,3104614,6.0,22.5,16.1,60365,31557,24.6
17,New Hampshire,1377529,4.7,18.8,18.7,76768,40003,147.0
18,Idaho,1839106,6.5,25.1,16.3,55785,27970,19.0
19,Illinois,12812508,5.9,22.2,16.1,65886,36038,231.1
20,Indiana,6785528,6.2,23.3,16.1,56303,29777,181.0
21,Iowa,3190369,6.2,23.0,17.5,60523,32176,54.5
22,Kansas,2937880,6.4,24.0,16.3,59597,31814,34.9
23,Kentucky,4505836,6.1,22.4,16.8,50589,28178,109.9
24,Oklahoma,3959353,6.5,24.1,16.1,52919,28422,54.7
25,Oregon,4237256,5.4,20.5,18.2,62818,33763,39.9
26,Maryland,6177224,6.0,22.1,15.9,84805,42122,594.8
27,Massachusetts,7029917,5.2,19.6,17.0,81215,43761,839.4
28,Michigan,10077331,5.7,21.5,17.7,57144,31713,174.8
29,Minnesota,5706494,6.2,23.1,16.3,71306,37625,66.6
30,Tennessee,6910840,6.0,22.1,16.7,53320,29859,153.9
31,Texas,29145505,6.9,25.5,12.9,61874,31277,96.3
32,Utah,3271616,7.7,29.0,11.4,71621,29775,33.6
33,Vermont,643077,4.7,18.3,20.0,61973,34577,67.9
34,Virginia,8631393,5.9,21.8,15.9,74222,39278,202.6
35,Washington,7705281,6.0,21.8,15.9,73775,38915,101.2
36,Mississippi,2961279,6.2,23.5,16.4,45081,24369,63.2
37,Missouri,6154913,6.0,22.3,17.3,55461,30810,87.1
38,Pennsylvania,13002700,5.5,20.6,18.7,61744,34352,283.9
39,Rhode Island,1097379,5.1,19.3,17.7,67167,36121,1018.1
40,South Carolina,5118425,5.7,21.6,18.2,53199,29426,153.9
41,South Dakota,886667,6.9,24.5,17.2,58275,30773,10.7
42,New Jersey,9288994,5.8,21.8,16.6,82545,42745,1195.5
43,New Mexico,2117522,5.8,22.7,18.0,49754,27230,17.0
44,New York,20201249,5.8,20.7,16.9,68486,39326,411.2
45,North Carolina,10439388,5.8,21.9,16.7,54602,30783,196.1
46,North Dakota,779094,7.1,23.6,15.7,64894,36062,9.7
47,Ohio,11799448,5.9,22.1,17.5,56602,31552,282.3
48,West Virginia,1793716,5.2,20.1,20.5,46711,26480,77.1
49,Wisconsin,5893718,5.7,21.8,17.5,61747,33375,105.0
50,Wyoming,576851,6.0,23.1,17.1,64049,33366,5.8

In [7]:
demo_df = demo_df.replace({'Alabama': 'AL',
    'Montana': 'MT',
    'Alaska': 'AK',
    'Nebraska': 'NE',
    'Arizona': 'AZ',
    'Nevada': 'NV',
    'Arkansas': 'AR',
    'New Hampshire': 'NH',
    'California': 'CA',
    'New Jersey': 'NJ',
    'Colorado': 'CO',
    'New Mexico': 'NM',
    'Connecticut': 'CT',
    'New York': 'NY',
    'Delaware': 'DE',
    'North Carolina': 'NC',
    'Florida': 'FL',
    'North Dakota': 'ND',
    'Georgia': 'GA',
    'Ohio': 'OH',
    'Hawaii': 'HI',
    'Oklahoma': 'OK',
    'Idaho': 'ID',
    'Oregon': 'OR',
    'Illinois': 'IL',
    'Pennsylvania': 'PA',
    'Indiana': 'IN',
    'Rhode Island': 'RI',
    'Iowa': 'IA',
    'South Carolina': 'SC',
    'Kansas': 'KS',
    'South Dakota': 'SD',
    'Kentucky': 'KY',
    'Tennessee': 'TN',
    'Louisiana': 'LA',
    'Texas': 'TX',
    'Maine': 'ME',
    'Utah': 'UT',
    'Maryland': 'MD',
    'Vermont': 'VT',
    'Massachusetts': 'MA',
    'Virginia': 'VA',
    'Michigan': 'MI',
    'Washington': 'WA',
    'Minnesota': 'MN',
    'West Virginia': 'WV',
    'Mississippi': 'MS',
    'Wisconsin': 'WI',
    'Missouri': 'MO',
    'Wyoming': 'WY',
    'District of Columbia': 'DC'})
demo_df

,State,population,% age under 5,% age under 18,% age 65 and older,median household income,per capita income,population per square mile
0,CT,3605944,5.1,20.4,17.7,78444,44496,738.1
1,DE,989948,5.6,20.9,19.4,68287,35450,460.8
2,DC,689545,6.4,18.2,12.4,86420,56147,9856.5
3,FL,21538187,5.3,19.7,20.9,55660,31619,350.6
4,GA,10711908,6.2,23.6,14.3,58700,31067,168.4
5,HI,1455271,6.0,21.2,19.0,81275,35567,211.8
6,AL,5024279,6.0,22.2,17.3,50536,27928,94.4
7,AK,733391,7.0,24.6,12.5,77640,36787,1.2
8,AZ,7151502,5.9,22.5,18.0,58945,30694,56.3
9,AR,3011524,6.2,23.2,17.4,47597,26577,56.0
10,CA,39538223,6.0,22.5,14.8,75235,36955,239.1
11,CO,5773714,5.8,21.9,14.6,72331,38226,48.5
12,LA,4657757,6.5,23.4,15.9,49469,27923,104.9
13,ME,1362359,4.7,18.5,21.2,57918,32637,43.1
14,MT,1084225,5.7,21.4,19.3,54970,31151,6.8
15,NE,1961504,6.8,24.6,16.2,61439,32302,23.8
16,NV,3104614,6.0,22.5,16.1,60365,31557,24.6
17,NH,1377529,4.7,18.8,18.7,76768,40003,147.0
18,ID,1839106,6.5,25.1,16.3,55785,27970,19.0
19,IL,12812508,5.9,22.2,16.1,65886,36038,231.1
20,IN,6785528,6.2,23.3,16.1,56303,29777,181.0
21,IA,3190369,6.2,23.0,17.5,60523,32176,54.5
22,KS,2937880,6.4,24.0,16.3,59597,31814,34.9
23,KY,4505836,6.1,22.4,16.8,50589,28178,109.9
24,OK,3959353,6.5,24.1,16.1,52919,28422,54.7
25,OR,4237256,5.4,20.5,18.2,62818,33763,39.9
26,MD,6177224,6.0,22.1,15.9,84805,42122,594.8
27,MA,7029917,5.2,19.6,17.0,81215,43761,839.4
28,MI,10077331,5.7,21.5,17.7,57144,31713,174.8
29,MN,5706494,6.2,23.1,16.3,71306,37625,66.6
30,TN,6910840,6.0,22.1,16.7,53320,29859,153.9
31,TX,29145505,6.9,25.5,12.9,61874,31277,96.3
32,UT,3271616,7.7,29.0,11.4,71621,29775,33.6
33,VT,643077,4.7,18.3,20.0,61973,34577,67.9
34,VA,8631393,5.9,21.8,15.9,74222,39278,202.6
35,WA,7705281,6.0,21.8,15.9,73775,38915,101.2
36,MS,2961279,6.2,23.5,16.4,45081,24369,63.2
37,MO,6154913,6.0,22.3,17.3,55461,30810,87.1
38,PA,13002700,5.5,20.6,18.7,61744,34352,283.9
39,RI,1097379,5.1,19.3,17.7,67167,36121,1018.1
40,SC,5118425,5.7,21.6,18.2,53199,29426,153.9
41,SD,886667,6.9,24.5,17.2,58275,30773,10.7
42,NJ,9288994,5.8,21.8,16.6,82545,42745,1195.5
43,NM,2117522,5.8,22.7,18.0,49754,27230,17.0
44,NY,20201249,5.8,20.7,16.9,68486,39326,411.2
45,NC,10439388,5.8,21.9,16.7,54602,30783,196.1
46,ND,779094,7.1,23.6,15.7,64894,36062,9.7
47,OH,11799448,5.9,22.1,17.5,56602,31552,282.3
48,WV,1793716,5.2,20.1,20.5,46711,26480,77.1
49,WI,5893718,5.7,21.8,17.5,61747,33375,105.0
50,WY,576851,6.0,23.1,17.1,64049,33366,5.8

In [ ]:
food_path = 'Resources/FastFoodRestaurants.csv'
food_db = pd.read_csv(food_path)
food_db

In [3]:
count = food_db['name'].nunique()
count

548

In [4]:
food_db = food_db.drop(columns=['websites', 'keys'])
food_db

,address,city,country,latitude,longitude,name,postalCode,province
0,324 Main St,Massena,US,44.921300,-74.890210,McDonald's,13662,NY
1,530 Clinton Ave,Washington Court House,US,39.532550,-83.445260,Wendy's,43160,OH
2,408 Market Square Dr,Maysville,US,38.627360,-83.791410,Frisch's Big Boy,41056,KY
3,6098 State Highway 37,Massena,US,44.950080,-74.845530,McDonald's,13662,NY
4,139 Columbus Rd,Athens,US,39.351550,-82.097280,OMG! Rotisserie,45701,OH
...,...,...,...,...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,US,33.415257,-82.024531,Wendy's,30906,GA
9996,678 Northwest Hwy,Cary,US,42.217300,-88.255800,Lee's Oriental Martial Arts,60013,IL
9997,1708 Main St,Longmont,US,40.189190,-105.101720,Five Guys,80501,CO
9998,67740 Highway 111,Cathedral City,US,33.788640,-116.482150,El Pollo Loco,92234,CA
9999,5701 E La Palma Ave,Anaheim,US,33.860074,-117.789762,Carl's Jr.,92807,CA

In [5]:
food_db = food_db.rename(columns={'province':'state', 'postalCode':'postal_code', 'name':'restaurant'})
food_db

,address,city,country,latitude,longitude,restaurant,postal_code,state
0,324 Main St,Massena,US,44.921300,-74.890210,McDonald's,13662,NY
1,530 Clinton Ave,Washington Court House,US,39.532550,-83.445260,Wendy's,43160,OH
2,408 Market Square Dr,Maysville,US,38.627360,-83.791410,Frisch's Big Boy,41056,KY
3,6098 State Highway 37,Massena,US,44.950080,-74.845530,McDonald's,13662,NY
4,139 Columbus Rd,Athens,US,39.351550,-82.097280,OMG! Rotisserie,45701,OH
...,...,...,...,...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,US,33.415257,-82.024531,Wendy's,30906,GA
9996,678 Northwest Hwy,Cary,US,42.217300,-88.255800,Lee's Oriental Martial Arts,60013,IL
9997,1708 Main St,Longmont,US,40.189190,-105.101720,Five Guys,80501,CO
9998,67740 Highway 111,Cathedral City,US,33.788640,-116.482150,El Pollo Loco,92234,CA
9999,5701 E La Palma Ave,Anaheim,US,33.860074,-117.789762,Carl's Jr.,92807,CA

In [13]:
food_db = food_db.replace(to_replace={'A & W Family Restaurant',
                                          'A&W All American Food',
                                          'A&W All-American Food',
                                          'A&W All-American Foods',
                                          'A&W Restaurant',
                                          'A&W/Long John Silvers',
                                          'A&w', 'A&w Restaurant','A&Ws'}, value='A&W', regex=True)
# sort = food_db.sort_values('restaurant')
# sort['restaurant'].unique()

array(['11-Jul', '31st Avenue Gyro', '7-Eleven', 'A&W',
       "AJ's Hotdogs & Gyros", "Alice's", 'Ama Ristorante',
       'Amigos/Kings Classic', 'Aprisa Mexican Cuisine', "Arby's",
       "Arby's Antigo", 'Arbys', 'Arctic Circle', 'Au Bon Pain',
       "Auntie Anne's", 'Aw Restaurant', 'B K',
       'B Z Breakfast Burgers Beyond', 'B. Good',
       'BGR - The Burger Joint', "BIG & little's Restaurant", 'BLIMPIE',
       'Back Yard Burgers', 'Backyard Burgers', 'Bad Daddys Burger Bar',
       'Baja Fresh', 'Baja Fresh Mexican Grill', "Baker's Drive Thru",
       'Ball State Lafollette Dining', 'Bamboo Bistro', 'Baskin-Robbins',
       'Bb&t', "Ben & Jerry's", 'Bills Place', "Blake's LotaBurger",
       "Blake's Lotaburger", 'Blakes Lotaburger', 'Blimpie',
       'Blimpie Subs & Sandwiches', 'Blondies', 'Bob Evans',
       'Bob Evans Restaurant', "Bobby's Burger Palace",
       "Bojangles' Famous Chicken 'n Biscuits", 'Boston Chowda Company',
       'Boston Market', 'Boston Market 381', "Braum's",
       "Braum's Ice Cream & Dairy Store", 'Bravo Tacos',
       'Breadeaux Pizza', "Brixton's", 'Buds Chicken & Seafood',
       'Burger King', 'Burger King Salou', 'Burger Time',
       "Burger's Landing", 'Burgerville', 'Burgerville, USA',
       "Bush's Chicken", 'Cafe Rio', "Capriotti's Sandwich Shop",
       "Capt Crab's Take-Away", "Captain D's", "Captain D's Seafood",
       "Car's Late Night Delivery", "Carl's / Green Burrito", "Carl's Jr",
       "Carl's Jr - Green Burrito", "Carl's Jr / Green Burrito",
       "Carl's Jr.", "Carl's Jr. / Green Burrito", 'Carls Jr',
       'Carls Jr. / Green Burrito', 'Char-Grill', 'Charcoal Delights',
       'Charkies', "Charley's Grilled Subs", 'Charleys Philly Steaks',
       'Charlie Browns', "Charlie's Chicken", "Checker's",
       "Checker's Drive-in Restaurant", "Checker's Hamburgers",
       'Checkers', 'Checkers Burgers and Fries',
       'Cherry Hill Drive In Ice Cream', "Chester's Grill",
       'Chicago Union Station Food Court', 'Chick-Fil-A', 'Chick-fil-A',
       'Chick-fil-a', 'Chick-fil-a Magnolia Mall',
       'Chick-fil-a Orange Avenue',
       'Chick-fil-a Superstition Springs Center',
       "Chick-fil-a Truett's Luau", 'Chicken Express', 'Chicken House',
       'Chickenow', 'China Buddha Inn II', 'China King',
       'China King Restaurant', 'Chipotle Mexican Grill',
       "Chris' Drive-In", 'Chuck Wagon', "Church's Chicken", 'Cinnabon',
       'Circle Drive In', 'City Bites', "Cody's Cafe",
       'Comilao Lanches Bakery', 'Convergence Zone', 'Cook Out',
       'Cook-Out', 'Cookout', 'Coop DeVille', 'Costa Vida',
       'Costa Vida Fresh Mexican Grill', 'Cousins Subs',
       'Cousins Subs of Green Bay - Oneida St. & Ramada Way',
       'Crispy Chicken & Seafood', 'Crown Fried Chicken',
       'Crystal Restaurant', "Culver's", 'Culvers', 'Cusinera',
       'Custard Hut & Pizza', 'Cypress Best',
       "D'Angelo Grilled Sandwiches", "D'angelo Grilled Sandwiches",
       'DQ Grill & Chill', 'DQ Grill & Chill / Orange Julius',
       'DQ Woodlands', 'Dairy Cheer', 'Dairy Freeze', 'Dairy Isle',
       'Dairy Queen', 'Dairy Queen - Round Rock',
       'Dairy Queen Grill & Chill',
       'Dairy Queen Grill & Chill / Orange Julius',
       "Dan's Seafood & Chicken", 'Dawg House Grill', 'Del Taco',
       "Denton's", "Dewey's Pizza", "Dino's Gyros", "Domino's Pizza",
       'Dominos Pizza', "Don & Millie's", 'Dq Grill & Chill',
       'Dual - Carls / Grn Burrito 1100654', 'Dunkin Donuts',
       "Dunkin' Donuts", "Eagan's Drive-In", 'Einstein Bros Bagels',
       'El Paragua Restaurant', 'El Pollo Loco',
       'El Tarasco Mexican Food', 'Eldon Drive In', 'Elevation Burger',
       "Ernie's All American Burger", 'Everest', 'Exxon',
       'Fab Wings N Burgers', 'Fallguys Burger Company', "Famous Dave's",
       'Farmer Boys', 'Fatburger', "Fazoli's", 'Firehouse Subs',
       'Fitness 19', 'Five Guys', "Flash Foods / McDonald's",
       'Flip Burger Bar', 'Food 4 Less', "Foster's Freeze",
       'Fosters Freeze', "Fred's Store", "Freddy's Steakburger",
       'Fresh City', "Frisch's Big Boy", 'Froots', "Frugal's", 'Frugals',
       'Fuku', "Furr's", "Gabby's Burgers & Fries", 'Garden Catering',
       'Garden Fast Food', "Geno's Fast Break", "George's Gyros Spot",
       "Gianni's Pizza", 'Gold Star Chili', 'Golden Chick',
       'Good Times Burgers & Frozen Custard', 'Goodcents Deli Fresh Subs',
       "Grandy's", "Granny's Drive-In", 'Great Steak',
       'Great Steak & Potato Co', 'Great Steak And Potato Co',
       'Greek Oven Pizza and Wings', 'Greyhound', 'Gyros Kings',
       'Hamburger King', "Handy's Lunch", "Hardee's",
       "Hardee's / Red Burrito", "Hardee's / Red Burrito / Dough Boys",
       'Hardees', 'Hegenburgers', 'Hermosa', 'Hoka Hoka Bento',
       'Home Town Buffet', 'Hometown Buffet', 'Hot Dog Heaven',
       'Hot Dog On A Stick', 'Hot Dog on a Stick', 'Hotdoks',
       'Hub City Express', 'Hunam Garden', "Hungry Andy's",
       'Iceberg Drive Inn', 'In-A-Tub', 'In-N-Out Burger',
       'Integrated Therapy Specialists: Arnold D Larson',
       "Isabella's Pizzeria", 'Islands Restaurant',
       'Italian Pizzeria Restaurant', "Ivar's Seafood Bar",
       'J J Fish and Chicken', "JCW's", 'Jack In The Box',
       'Jack Pirtles Chicken', 'Jack in the Box', "Jack's",
       'Jacks Grocery', 'Jamba Juice', 'Jamjam', "Jason's Deli",
       'Jersey Jacks Eatery', "Jersey Mike's Subs",
       "Jim Bob's Chicken Fingers", "Jim's Coney Island", "Jimmy John's",
       "Jimmy John's Gourmet Sandwiches", 'Jimmy Johns', 'Johnny Rockets',
       'Jollibee', "Jolly's Drive-In", 'KFC',
       'KFC - Kentucky Fried Chicken', 'KFC / A&W', 'KFC / Taco Bell',
       'KFC/Taco Bell', "Kam's Chop Suey", "Kasa's Pizza",
       'Kennedy Fried Chicken & Pizza', "Kenny's Drive-In",
       'Kentucky Fried Chicken', "Kerby's Koney Island",
       'Kettle Restaurant', 'Kfc', 'Kfc - Kentucky Fried Chicken',
       'Kim Lee Fast Food', 'King Grill', 'Kings Contrivance Jewelers',
       'Krystal', 'Kum & Go', 'Kum Go', 'L&L Hawaiian Barbecue',
       'L&l Hawaiian Barbecue', 'Lanesplitter Pizza & Pub',
       "Lee's Famous Recipe Chicken", "Lee's Oriental Martial Arts",
       "Lenny's Sub Shop", 'Lime Ricky World', "Lion's Choice",
       "Little Caesar's Pizza Smithfield", 'Little Caesars Pizza',
       'Ll Hawaiian Barbecue', 'Loco Moco Drive-Inn', 'LocoL',
       "Long John Silver's", "Long John Silver's / A&W",
       'Long John Silver/ A&W', 'Long John Silvers',
       'Long John Silvers / A&W', 'Los Verdes', "Love's", "Luby's",
       'Lukes on Harlem', 'Luna Corner Pizza', 'Luxor Food Court',
       'MOOYAH Burgers, Fries & Shakes', 'Madison Street Subs',
       "Maria's Fry Bread & Mexican Food", "Mario's Natural Roman Pizza",
       'Mariu Kebabberia Gastronomica', 'Maui Tacos',
       'Mayfair Boardwalk Grill', 'Mazatlan Mexican Restaurant',
       "McDonald's", 'McDonalds', 'McDonalds @ Old Atlanta',
       "McLaren's Pantry", "Mcalister's Deli", 'Meatheads',
       "Mickey's Gyros & Ribs", "Milo's Hamburgers", 'Mocha Express',
       "Moe's Original Bar B Que", "Moe's Southwest Grill",
       'Mr Char-Burger', 'Mr Hero', 'Mr. Hero', 'Music City Subs',
       "Nathan's Famous", "Nick's Burgers", "Nick's Gyros",
       "Nielsen's Frozen Custard", "Nino's Pizza", 'Noodles & Company',
       'Northeastern State University', 'Ny Chicken Fish',
       'OMG! Rotisserie', 'Old Country Buffet', 'Omega Drive-In',
       'Omelette House', 'Original Tracks', "Osgood's", "P. Terry's",
       'Pacific Rim', "Paesano's", "Pal's Sudden Service", 'Panda',
       'Panda Express', 'Panera Bread', "Papa Gino's", "Papa John's",
       "Papa John's Pizza", 'Papa Johns', 'Papa Johns Pizza',
       'Papa Johnâ€™s Pizza', 'Papagus Gyros', 'Pei Wei', 'Peking Wok',
       'Penguin Point', 'Penn Station East Coast Subs', "Pete's Burgers",
       "Petro's Chili & Chips", 'Pick Up Stix', 'Pita Pit', 'Pizza Barn',
       'Pizza Express', 'Pizza Factory', 'Pizza Hut',
       'Pizza Hut Wingstreet', 'Pizza One', 'Pizza Primetime',
       'Pollo Campero', 'Pollo Tropical', 'Pop-A-Nugget', "Popeye's",
       "Popeye's Chicken", "Popeye's Chicken & Biscuits",
       "Popeye's Louisiana Kitchen", 'Popeyes',
       'Popeyes Chicken & Biscuits', 'Popeyes Chicken and Biscuits',
       'Popeyes Louisiana Kitchen', 'Port Of Subs', 'Port of Subs',
       "Portillo's", 'QDOBA Mexican Eats', 'Qdoba Mexican Eats',
       'Qdoba Mexican Grill', 'Quick', "Quizno's +", 'Quiznos',
       'Quiznos Sub', "Rafael's", 'Rahway Chicken & Burger Inc',
       "Raising Cane's", "Raising Cane's Chicken Fingers", "Rally's",
       "Rally's Hamburgers", "Rally's Springfield", 'Rallys',
       "Rancher's Roast Beef Inc.", "Rapid Ray's",
       'Red Robin Gourmet Burgers', 'Redbox',
       'Regal Cinemas Tikahtnu  16 IMAX & RPX',
       "Rich's Mighty Fine Burgers Grub", "Richie's Restaurant",
       "Rocky's", 'Roly Poly', 'Round Table Pizza', 'Roy Rogers',
       'Royal Buffet', "Rubio's", "Rubio's Coastal Grill", 'Runza',
       "Rush's", "Ryan's", 'SONIC Drive In', 'SONIC Drive-In', 'SUBWAY',
       'SUBWAYÂ®', 'Saladworks', 'Sammy Carry-Out', "Samurai Sam's",
       'Sarku Japan', 'Sbarro', "Schlotzsky's", 'Sconecutter', 'Scoopers',
       'Seaside Eatery', 'Sensenig Poultry LLC', 'Sheetz',
       "Shepard's Drive-In", 'Shloma Inc', "Shoney's on the Go",
       'ShopRite', 'Shot Tower Inn', 'Siam To Go',
       'Simmies Arirang Hill Cheese Steak', 'Skyline Chili',
       'Slim Chickens', 'Smashburger', 'Smoothie King', 'Snack Shack',
       'Sonic', 'Sonic Drive In', 'Sonic Drive in', 'Sonic Drive-In',
       'Sonic Drive-in', 'Sonic Drive-in (trailer)', 'Soulfish Grill',
       'South-A-Philly Steaks and Hoagies', "Spangle's", 'Spangles',
       'St Louis Original Hamburgers', 'Starbucks', 'Stars Drive-In',
       "Steak 'N Shake", "Steak 'n Shake", 'Steak Escape',
       'Steak N Shake', 'Steak-out', 'Stripes Store #2276',
       'Strongwater Spirits & Botanicals', 'Subway',
       'Subway (johnson) @ Jonesboro', "Subway - Bell's Ferry",
       'Subway - Roland Park', 'Subway Citgo of Quarryville',
       'Subway Guitars', 'Subway Sandwiches',
       'Subway Sandwiches and Salads', 'Sunrise Cafe', 'Taco Bell',
       'Taco Bell/Pizza Hut Express', 'Taco Bueno', 'Taco Cabana',
       'Taco Casa', 'Taco Del Mar', 'Taco Delight', "Taco John's",
       'Taco Local', 'Taco Mayo', 'Taco Time', 'Taco del Mar', 'TacoTime',
       'Taqueria', 'Tasty Carryout', "Teddy's Bigger Burgers",
       'Tellers Tap Room & Kitchen', 'The Agora', 'The Biscuit Factory',
       'The Break Away Sports Cafe', 'The Chicken Place',
       'The Flame Broiler', 'The Great Steak & Potato Co.',
       'The Halal Guys', 'The Honeybaked Ham Company',
       'The People Connection', 'The Pita Pit', 'The Pizza Pipe Line',
       'The Press Club', "Thrasher's French Fries",
       'Thrashers French Fries', 'Thunder Ridge Ampride',
       "Tina's Carryout Restaurant", "Tom & Jerry's", "Tom's Drive In",
       "Tom's Grill", "Tommy's Sub Shop", "Topper's Pizza",
       'Toppers Pizza', 'Travelcenters of America',
       'Tropical Smoothie Cafe', "Tubby's Grilled Submarines",
       "Tudor's Biscuit World", 'Twisters', 'Vista Drive In',
       'Waffle House', 'Wendy Two Two Eight', "Wendy's", 'Wendys',
       "Wetzel's Pretzels", 'Whataburger', 'White Castle',
       'White Manna Hamburgers', 'Wienerschnitzel',
       'Windmill Gourmet Fast Foods', 'Wings And Philly',
       "Wings N' More Wings", 'Wingstop', 'Wingstreet',
       "Woody's Sloppy Dogs", 'World Wrapps', "Wu's Fine Chinese Cuisine",
       'Yellow Cab Pizza Co.', 'Yoshinoya', 'Your Healthy Habit',
       'Yum Brands Inc', "Zaxby's", "Zip's Hamburgers And Fish",
       "Ziti's Italian Express", 'b.good'], dtype=object)

In [19]:
food_db = food_db.replace(to_replace={"Mc Donald's","Mc Donalds","McDonald's","McDonald's of Mililani Mauka","Mcdonald's",
                           "McDonalds","McDonald's #25557","McDonald's - Walmart","McDonald's @ Old Atlanta","McDonaldâ€™s",
                            'McDonalds @ Old Atlanta'}, value="McDonald's", regex=True)
sort = food_db.sort_values('restaurant')
sort['restaurant'].unique()

array(['11-Jul', '31st Avenue Gyro', '7-Eleven', 'A&W',
       "AJ's Hotdogs & Gyros", "Alice's", 'Ama Ristorante',
       'Amigos/Kings Classic', 'Aprisa Mexican Cuisine', "Arby's",
       "Arby's Antigo", 'Arbys', 'Arctic Circle', 'Au Bon Pain',
       "Auntie Anne's", 'Aw Restaurant', 'B K',
       'B Z Breakfast Burgers Beyond', 'B. Good',
       'BGR - The Burger Joint', "BIG & little's Restaurant", 'BLIMPIE',
       'Back Yard Burgers', 'Backyard Burgers', 'Bad Daddys Burger Bar',
       'Baja Fresh', 'Baja Fresh Mexican Grill', "Baker's Drive Thru",
       'Ball State Lafollette Dining', 'Bamboo Bistro', 'Baskin-Robbins',
       'Bb&t', "Ben & Jerry's", 'Bills Place', "Blake's LotaBurger",
       "Blake's Lotaburger", 'Blakes Lotaburger', 'Blimpie',
       'Blimpie Subs & Sandwiches', 'Blondies', 'Bob Evans',
       'Bob Evans Restaurant', "Bobby's Burger Palace",
       "Bojangles' Famous Chicken 'n Biscuits", 'Boston Chowda Company',
       'Boston Market', 'Boston Market 381', "Braum's",
       "Braum's Ice Cream & Dairy Store", 'Bravo Tacos',
       'Breadeaux Pizza', "Brixton's", 'Buds Chicken & Seafood',
       'Burger King', 'Burger King Salou', 'Burger Time',
       "Burger's Landing", 'Burgerville', 'Burgerville, USA',
       "Bush's Chicken", 'Cafe Rio', "Capriotti's Sandwich Shop",
       "Capt Crab's Take-Away", "Captain D's", "Captain D's Seafood",
       "Car's Late Night Delivery", "Carl's / Green Burrito", "Carl's Jr",
       "Carl's Jr - Green Burrito", "Carl's Jr / Green Burrito",
       "Carl's Jr.", "Carl's Jr. / Green Burrito", 'Carls Jr',
       'Carls Jr. / Green Burrito', 'Char-Grill', 'Charcoal Delights',
       'Charkies', "Charley's Grilled Subs", 'Charleys Philly Steaks',
       'Charlie Browns', "Charlie's Chicken", "Checker's",
       "Checker's Drive-in Restaurant", "Checker's Hamburgers",
       'Checkers', 'Checkers Burgers and Fries',
       'Cherry Hill Drive In Ice Cream', "Chester's Grill",
       'Chicago Union Station Food Court', 'Chick-Fil-A', 'Chick-fil-A',
       'Chick-fil-a', 'Chick-fil-a Magnolia Mall',
       'Chick-fil-a Orange Avenue',
       'Chick-fil-a Superstition Springs Center',
       "Chick-fil-a Truett's Luau", 'Chicken Express', 'Chicken House',
       'Chickenow', 'China Buddha Inn II', 'China King',
       'China King Restaurant', 'Chipotle Mexican Grill',
       "Chris' Drive-In", 'Chuck Wagon', "Church's Chicken", 'Cinnabon',
       'Circle Drive In', 'City Bites', "Cody's Cafe",
       'Comilao Lanches Bakery', 'Convergence Zone', 'Cook Out',
       'Cook-Out', 'Cookout', 'Coop DeVille', 'Costa Vida',
       'Costa Vida Fresh Mexican Grill', 'Cousins Subs',
       'Cousins Subs of Green Bay - Oneida St. & Ramada Way',
       'Crispy Chicken & Seafood', 'Crown Fried Chicken',
       'Crystal Restaurant', "Culver's", 'Culvers', 'Cusinera',
       'Custard Hut & Pizza', 'Cypress Best',
       "D'Angelo Grilled Sandwiches", "D'angelo Grilled Sandwiches",
       'DQ Grill & Chill', 'DQ Grill & Chill / Orange Julius',
       'DQ Woodlands', 'Dairy Cheer', 'Dairy Freeze', 'Dairy Isle',
       'Dairy Queen', 'Dairy Queen - Round Rock',
       'Dairy Queen Grill & Chill',
       'Dairy Queen Grill & Chill / Orange Julius',
       "Dan's Seafood & Chicken", 'Dawg House Grill', 'Del Taco',
       "Denton's", "Dewey's Pizza", "Dino's Gyros", "Domino's Pizza",
       'Dominos Pizza', "Don & Millie's", 'Dq Grill & Chill',
       'Dual - Carls / Grn Burrito 1100654', 'Dunkin Donuts',
       "Dunkin' Donuts", "Eagan's Drive-In", 'Einstein Bros Bagels',
       'El Paragua Restaurant', 'El Pollo Loco',
       'El Tarasco Mexican Food', 'Eldon Drive In', 'Elevation Burger',
       "Ernie's All American Burger", 'Everest', 'Exxon',
       'Fab Wings N Burgers', 'Fallguys Burger Company', "Famous Dave's",
       'Farmer Boys', 'Fatburger', "Fazoli's", 'Firehouse Subs',
       'Fitness 19', 'Five Guys', "Flash Foods / McDonald's",
       'Flip Burger Bar', 'Food 4 Less', "Foster's Freeze",
       'Fosters Freeze', "Fred's Store", "Freddy's Steakburger",
       'Fresh City', "Frisch's Big Boy", 'Froots', "Frugal's", 'Frugals',
       'Fuku', "Furr's", "Gabby's Burgers & Fries", 'Garden Catering',
       'Garden Fast Food', "Geno's Fast Break", "George's Gyros Spot",
       "Gianni's Pizza", 'Gold Star Chili', 'Golden Chick',
       'Good Times Burgers & Frozen Custard', 'Goodcents Deli Fresh Subs',
       "Grandy's", "Granny's Drive-In", 'Great Steak',
       'Great Steak & Potato Co', 'Great Steak And Potato Co',
       'Greek Oven Pizza and Wings', 'Greyhound', 'Gyros Kings',
       'Hamburger King', "Handy's Lunch", "Hardee's",
       "Hardee's / Red Burrito", "Hardee's / Red Burrito / Dough Boys",
       'Hardees', 'Hegenburgers', 'Hermosa', 'Hoka Hoka Bento',
       'Home Town Buffet', 'Hometown Buffet', 'Hot Dog Heaven',
       'Hot Dog On A Stick', 'Hot Dog on a Stick', 'Hotdoks',
       'Hub City Express', 'Hunam Garden', "Hungry Andy's",
       'Iceberg Drive Inn', 'In-A-Tub', 'In-N-Out Burger',
       'Integrated Therapy Specialists: Arnold D Larson',
       "Isabella's Pizzeria", 'Islands Restaurant',
       'Italian Pizzeria Restaurant', "Ivar's Seafood Bar",
       'J J Fish and Chicken', "JCW's", 'Jack In The Box',
       'Jack Pirtles Chicken', 'Jack in the Box', "Jack's",
       'Jacks Grocery', 'Jamba Juice', 'Jamjam', "Jason's Deli",
       'Jersey Jacks Eatery', "Jersey Mike's Subs",
       "Jim Bob's Chicken Fingers", "Jim's Coney Island", "Jimmy John's",
       "Jimmy John's Gourmet Sandwiches", 'Jimmy Johns', 'Johnny Rockets',
       'Jollibee', "Jolly's Drive-In", 'KFC',
       'KFC - Kentucky Fried Chicken', 'KFC / A&W', 'KFC / Taco Bell',
       'KFC/Taco Bell', "Kam's Chop Suey", "Kasa's Pizza",
       'Kennedy Fried Chicken & Pizza', "Kenny's Drive-In",
       'Kentucky Fried Chicken', "Kerby's Koney Island",
       'Kettle Restaurant', 'Kfc', 'Kfc - Kentucky Fried Chicken',
       'Kim Lee Fast Food', 'King Grill', 'Kings Contrivance Jewelers',
       'Krystal', 'Kum & Go', 'Kum Go', 'L&L Hawaiian Barbecue',
       'L&l Hawaiian Barbecue', 'Lanesplitter Pizza & Pub',
       "Lee's Famous Recipe Chicken", "Lee's Oriental Martial Arts",
       "Lenny's Sub Shop", 'Lime Ricky World', "Lion's Choice",
       "Little Caesar's Pizza Smithfield", 'Little Caesars Pizza',
       'Ll Hawaiian Barbecue', 'Loco Moco Drive-Inn', 'LocoL',
       "Long John Silver's", "Long John Silver's / A&W",
       'Long John Silver/ A&W', 'Long John Silvers',
       'Long John Silvers / A&W', 'Los Verdes', "Love's", "Luby's",
       'Lukes on Harlem', 'Luna Corner Pizza', 'Luxor Food Court',
       'MOOYAH Burgers, Fries & Shakes', 'Madison Street Subs',
       "Maria's Fry Bread & Mexican Food", "Mario's Natural Roman Pizza",
       'Mariu Kebabberia Gastronomica', 'Maui Tacos',
       'Mayfair Boardwalk Grill', 'Mazatlan Mexican Restaurant',
       "McDonald's", "McLaren's Pantry", "Mcalister's Deli", 'Meatheads',
       "Mickey's Gyros & Ribs", "Milo's Hamburgers", 'Mocha Express',
       "Moe's Original Bar B Que", "Moe's Southwest Grill",
       'Mr Char-Burger', 'Mr Hero', 'Mr. Hero', 'Music City Subs',
       "Nathan's Famous", "Nick's Burgers", "Nick's Gyros",
       "Nielsen's Frozen Custard", "Nino's Pizza", 'Noodles & Company',
       'Northeastern State University', 'Ny Chicken Fish',
       'OMG! Rotisserie', 'Old Country Buffet', 'Omega Drive-In',
       'Omelette House', 'Original Tracks', "Osgood's", "P. Terry's",
       'Pacific Rim', "Paesano's", "Pal's Sudden Service", 'Panda',
       'Panda Express', 'Panera Bread', "Papa Gino's", "Papa John's",
       "Papa John's Pizza", 'Papa Johns', 'Papa Johns Pizza',
       'Papa Johnâ€™s Pizza', 'Papagus Gyros', 'Pei Wei', 'Peking Wok',
       'Penguin Point', 'Penn Station East Coast Subs', "Pete's Burgers",
       "Petro's Chili & Chips", 'Pick Up Stix', 'Pita Pit', 'Pizza Barn',
       'Pizza Express', 'Pizza Factory', 'Pizza Hut',
       'Pizza Hut Wingstreet', 'Pizza One', 'Pizza Primetime',
       'Pollo Campero', 'Pollo Tropical', 'Pop-A-Nugget', "Popeye's",
       "Popeye's Chicken", "Popeye's Chicken & Biscuits",
       "Popeye's Louisiana Kitchen", 'Popeyes',
       'Popeyes Chicken & Biscuits', 'Popeyes Chicken and Biscuits',
       'Popeyes Louisiana Kitchen', 'Port Of Subs', 'Port of Subs',
       "Portillo's", 'QDOBA Mexican Eats', 'Qdoba Mexican Eats',
       'Qdoba Mexican Grill', 'Quick', "Quizno's +", 'Quiznos',
       'Quiznos Sub', "Rafael's", 'Rahway Chicken & Burger Inc',
       "Raising Cane's", "Raising Cane's Chicken Fingers", "Rally's",
       "Rally's Hamburgers", "Rally's Springfield", 'Rallys',
       "Rancher's Roast Beef Inc.", "Rapid Ray's",
       'Red Robin Gourmet Burgers', 'Redbox',
       'Regal Cinemas Tikahtnu  16 IMAX & RPX',
       "Rich's Mighty Fine Burgers Grub", "Richie's Restaurant",
       "Rocky's", 'Roly Poly', 'Round Table Pizza', 'Roy Rogers',
       'Royal Buffet', "Rubio's", "Rubio's Coastal Grill", 'Runza',
       "Rush's", "Ryan's", 'SONIC Drive In', 'SONIC Drive-In', 'SUBWAY',
       'SUBWAYÂ®', 'Saladworks', 'Sammy Carry-Out', "Samurai Sam's",
       'Sarku Japan', 'Sbarro', "Schlotzsky's", 'Sconecutter', 'Scoopers',
       'Seaside Eatery', 'Sensenig Poultry LLC', 'Sheetz',
       "Shepard's Drive-In", 'Shloma Inc', "Shoney's on the Go",
       'ShopRite', 'Shot Tower Inn', 'Siam To Go',
       'Simmies Arirang Hill Cheese Steak', 'Skyline Chili',
       'Slim Chickens', 'Smashburger', 'Smoothie King', 'Snack Shack',
       'Sonic', 'Sonic Drive In', 'Sonic Drive in', 'Sonic Drive-In',
       'Sonic Drive-in', 'Sonic Drive-in (trailer)', 'Soulfish Grill',
       'South-A-Philly Steaks and Hoagies', "Spangle's", 'Spangles',
       'St Louis Original Hamburgers', 'Starbucks', 'Stars Drive-In',
       "Steak 'N Shake", "Steak 'n Shake", 'Steak Escape',
       'Steak N Shake', 'Steak-out', 'Stripes Store #2276',
       'Strongwater Spirits & Botanicals', 'Subway',
       'Subway (johnson) @ Jonesboro', "Subway - Bell's Ferry",
       'Subway - Roland Park', 'Subway Citgo of Quarryville',
       'Subway Guitars', 'Subway Sandwiches',
       'Subway Sandwiches and Salads', 'Sunrise Cafe', 'Taco Bell',
       'Taco Bell/Pizza Hut Express', 'Taco Bueno', 'Taco Cabana',
       'Taco Casa', 'Taco Del Mar', 'Taco Delight', "Taco John's",
       'Taco Local', 'Taco Mayo', 'Taco Time', 'Taco del Mar', 'TacoTime',
       'Taqueria', 'Tasty Carryout', "Teddy's Bigger Burgers",
       'Tellers Tap Room & Kitchen', 'The Agora', 'The Biscuit Factory',
       'The Break Away Sports Cafe', 'The Chicken Place',
       'The Flame Broiler', 'The Great Steak & Potato Co.',
       'The Halal Guys', 'The Honeybaked Ham Company',
       'The People Connection', 'The Pita Pit', 'The Pizza Pipe Line',
       'The Press Club', "Thrasher's French Fries",
       'Thrashers French Fries', 'Thunder Ridge Ampride',
       "Tina's Carryout Restaurant", "Tom & Jerry's", "Tom's Drive In",
       "Tom's Grill", "Tommy's Sub Shop", "Topper's Pizza",
       'Toppers Pizza', 'Travelcenters of America',
       'Tropical Smoothie Cafe', "Tubby's Grilled Submarines",
       "Tudor's Biscuit World", 'Twisters', 'Vista Drive In',
       'Waffle House', 'Wendy Two Two Eight', "Wendy's", 'Wendys',
       "Wetzel's Pretzels", 'Whataburger', 'White Castle',
       'White Manna Hamburgers', 'Wienerschnitzel',
       'Windmill Gourmet Fast Foods', 'Wings And Philly',
       "Wings N' More Wings", 'Wingstop', 'Wingstreet',
       "Woody's Sloppy Dogs", 'World Wrapps', "Wu's Fine Chinese Cuisine",
       'Yellow Cab Pizza Co.', 'Yoshinoya', 'Your Healthy Habit',
       'Yum Brands Inc', "Zaxby's", "Zip's Hamburgers And Fish",
       "Ziti's Italian Express", 'b.good'], dtype=object)

In [20]:
food_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   address      10000 non-null  object
 1   city         10000 non-null  object
 2   country      10000 non-null  object
 3   latitude     10000 non-null  float64
 4   longitude    10000 non-null  float64
 5   restaurant   10000 non-null  object
 6   postal_code  10000 non-null  object
 7   state        10000 non-null  object
dtypes: float64(2), object(6)
memory usage: 625.1+ KB

In [21]:
count = food_db.groupby(['state', 'restaurant'])['restaurant'].apply(len)
count = pd.DataFrame(count)
count

                      restaurant
state restaurant
AK    Arby's                   3
      Carl's Jr                1
      Domino's Pizza           2
      McDonald's               3
      Pizza Hut                2
...                          ...
WY    Sonic Drive-In           1
      Subway                   7
      Taco Bell                4
      Taco John's              2
      Wendy's                  3

[1814 rows x 1 columns]

In [22]:
new_count = count.rename(columns = {'restaurant':'Total'})
new_count = new_count.reset_index(level=['restaurant','state'])
new_count
# output = new_count.to_csv('Output/count.csv', index=False)
# output