In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint

In [3]:
food_path = 'FastFoodRestaurants.csv'
food_db = pd.read_csv(food_path)
food_db

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.921300,-74.890210,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,us/oh/washingtoncourthouse/530clintonave/-7914...,39.532550,-83.445260,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,us/ky/maysville/408marketsquaredr/1051460804,38.627360,-83.791410,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,us/ny/massena/6098statehighway37/-1161002137,44.950080,-74.845530,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,us/oh/athens/139columbusrd/990890980,39.351550,-82.097280,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."
...,...,...,...,...,...,...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,US,us/ga/augusta/3013peachorchardrd/-791445730,33.415257,-82.024531,Wendy's,30906,GA,"http://www.wendys.com,http://wendys.com"
9996,678 Northwest Hwy,Cary,US,us/il/cary/678northwesthwy/787691191,42.217300,-88.255800,Lee's Oriental Martial Arts,60013,IL,http://www.mcdonalds.com
9997,1708 Main St,Longmont,US,us/co/longmont/1708mainst/-448666054,40.189190,-105.101720,Five Guys,80501,CO,http://fiveguys.com
9998,67740 Highway 111,Cathedral City,US,us/ca/cathedralcity/67740highway111/-981164808,33.788640,-116.482150,El Pollo Loco,92234,CA,"http://www.elpolloloco.com,http://elpolloloco.com"
9999,5701 E La Palma Ave,Anaheim,US,us/ca/anaheim/5701elapalmaave/554191587,33.860074,-117.789762,Carl's Jr.,92807,CA,http://www.carlsjr.com

In [6]:
count = food_db['name'].nunique()
count

548

In [26]:
food_db = food_db.drop(columns=['websites', 'keys'])
food_db

,address,city,country,latitude,longitude,name,postalCode,province
0,324 Main St,Massena,US,44.921300,-74.890210,McDonald's,13662,NY
1,530 Clinton Ave,Washington Court House,US,39.532550,-83.445260,Wendy's,43160,OH
2,408 Market Square Dr,Maysville,US,38.627360,-83.791410,Frisch's Big Boy,41056,KY
3,6098 State Highway 37,Massena,US,44.950080,-74.845530,McDonald's,13662,NY
4,139 Columbus Rd,Athens,US,39.351550,-82.097280,OMG! Rotisserie,45701,OH
...,...,...,...,...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,US,33.415257,-82.024531,Wendy's,30906,GA
9996,678 Northwest Hwy,Cary,US,42.217300,-88.255800,Lee's Oriental Martial Arts,60013,IL
9997,1708 Main St,Longmont,US,40.189190,-105.101720,Five Guys,80501,CO
9998,67740 Highway 111,Cathedral City,US,33.788640,-116.482150,El Pollo Loco,92234,CA
9999,5701 E La Palma Ave,Anaheim,US,33.860074,-117.789762,Carl's Jr.,92807,CA

In [30]:
food_db = food_db.rename(columns={'province':'state', 'postalCode':'postal_code', 'name':'restaurant'})
food_db

,address,city,country,latitude,longitude,restaurant,postal_code,state
0,324 Main St,Massena,US,44.921300,-74.890210,McDonald's,13662,NY
1,530 Clinton Ave,Washington Court House,US,39.532550,-83.445260,Wendy's,43160,OH
2,408 Market Square Dr,Maysville,US,38.627360,-83.791410,Frisch's Big Boy,41056,KY
3,6098 State Highway 37,Massena,US,44.950080,-74.845530,McDonald's,13662,NY
4,139 Columbus Rd,Athens,US,39.351550,-82.097280,OMG! Rotisserie,45701,OH
...,...,...,...,...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,US,33.415257,-82.024531,Wendy's,30906,GA
9996,678 Northwest Hwy,Cary,US,42.217300,-88.255800,Lee's Oriental Martial Arts,60013,IL
9997,1708 Main St,Longmont,US,40.189190,-105.101720,Five Guys,80501,CO
9998,67740 Highway 111,Cathedral City,US,33.788640,-116.482150,El Pollo Loco,92234,CA
9999,5701 E La Palma Ave,Anaheim,US,33.860074,-117.789762,Carl's Jr.,92807,CA

In [31]:
food_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   address      10000 non-null  object
 1   city         10000 non-null  object
 2   country      10000 non-null  object
 3   latitude     10000 non-null  float64
 4   longitude    10000 non-null  float64
 5   restaurant   10000 non-null  object
 6   postal_code  10000 non-null  object
 7   state        10000 non-null  object
dtypes: float64(2), object(6)
memory usage: 625.1+ KB

In [33]:
food_db['restaurant'] = food_db['restaurant'].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: "McDonald's"

In [17]:
pd.pivot_table(food_db, values='name',
              index=['province', 'name'],
              columns=['name']
              )

ValueError: Grouper for 'name' not 1-dimensional